<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <div class="masthead clearfix" style="padding-bottom:0">          
            <table width="100%" style="height:20px;margin-bottom:0;margin-top:50px" cellpadding=0 cellspacing=0 border=0>
                <tr>
                    <td style="text-align:left;vertical-align: top">
                        <a style="margin-left:0;font-size:14px;font-family:monospace" href="{{ site.baseurl }}/">&#x21e6;&nbsp;go back</a>
                    </td>
                    <td style="width:33%;text-align:center">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="sshilko" >&#x1f426; &nbsp; tweet</a>
                    </td>
                    <td style="text-align:right;vertical-align: top">
                        <a style="margin-left:0;font-size:14px;font-family:monospace" href="{{ site.baseurl }}/">&#x21e6;&nbsp;go back</a>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}


      <!-- disqs start -->
      <!--
      <div id="disq">
          <div id="disqus_thread"></div>
          <script type="text/javascript" defer>
           var disqus_shortname = 'sshilko';
           var disqus_title = '{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}';
           (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
            </script>
       </div>
       -->
       <!-- disqs end -->

    </div>


    {% include analytics.html %}

    <!-- twitter sdk -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   
  </body>
</html>
